@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>NorthWind Sovellus</h1>
        <p class="lead">Powered By SQL Azure</p>
    </section>


</main>